For documentation of the Winbgi library, please see:
<UL>
<LI><a
href="http://www.cs.colorado.edu/~main/cs1300/doc/bgi/bgi.html">www.cs.colorado.edu/~main/cs1300/doc/bgi/bgi.html</a><LI><a
href="http://www.cs.colorado.edu/~main/cs1300/doc/bgi/index.html">www.cs.colorado.edu/~main/cs1300/doc/bgi/index.html</a>
</UL>
